h1 {
  color: #FFF;
  font-size: 4em;
  font-weight: normal;
  line-height: 1.2em;
  margin: 70px auto 30px;
  padding: 10px 20px;
  position: relative;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
  width: 60%;
}
.heart {
  color: #c0392b;
  display: inline-block;
  font-style: normal;
  font-weight: 500;
  font-size: 476px;
  margin-top: .3em;
  -webkit-transform: scale(.9);
  -moz-transform: scale(.9);
  transform: scale(.9);
  -webkit-animation: heart .5s infinite linear alternate-reverse;
  -moz-animation: heart .5s infinite linear alternate-reverse;
  animation: heart .5s infinite linear alternate-reverse;
}

@-webkit-keyframes heart {
  to {
    -webkit-transform: scale(1.2);
  }
}
@-moz-keyframes heart {
  to {
    -moz-transform: scale(1.2);
  }
}
@keyframes heart {
  to {
    transform: scale(1.2);
  }
}
