body {
    font: 100%/1.4em "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    color: #333333;
    text-align: center;
    background-color: rgba(0,0,0,.1);
    -webkit-text-size-adjust: none;
}

img {
    max-width: 100%;
    vertical-align: middle;
}

.main-header h1 {
    font-size: 4em;
    font-weight: normal;
    line-height: 1.2em;
    padding: 10px 20px;
    color: #FFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
    width: 60%;
    margin: 0 auto;
    position: relative;
}
